:root {
  --white: hsl(0, 0%, 100%);
  --ligthgrey: hwb(212 84% 6%);
  --grayishdrk: hsl(220, 15%, 22%);
  --drkblue: hsl(218, 44%, 22%);
}
body {
  background-color: var(--ligthgrey);
}
.background {
  background-color: var(--white);
  width: 300px;
  /* height: 500px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  height: 540px;
  /* margin: auto; */
  border-radius: 15px;
}
h2 {
  color: var(--drkblue);
}
p {
  color: var(--grayishdrk);
  font-size: 15px;
}
#text {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img {
  /* background-color: black; */
  height: 350px;
  margin: auto;
  display: flex;
  align-items: center;
}
.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border-radius: 15px;
  height: 300px;
  width: 270px;
}
